
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f8f9fa;
}

.header {
    width: 100%;
    height: 80px;
    background: #111827;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    top: 0;
    z-index: 1000;
    flex-wrap: wrap;
}

.logo{
    display: flex;
    align-items: center;
    gap:20px;
}

.logo img{
    border-radius: 20%;
    border: none;
    outline: none;
}

.logo h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.logo span {
    color: #3b82f6;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

nav ul li {
    margin: 0 18px;
}

nav ul li a {
    /*text-decoration: none;*/
    color: #fff;
    font-size: 17px;
    transition: .3s;
    white-space: nowrap;
}

nav ul li a:hover {
    color: #3b82f6;
    box-shadow: 0 4px 10px ;
}
.icons i {
    color: #fff;
    font-size: 22px;
    margin-left: 20px;
    cursor: pointer;
    transition: .3s;
}

.icons i:hover {
    color: #3b82f6;
}

/* ===== Hero ===== */

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .hero {
     width: 100%;
     height: 100vh;

     display: flex;
     align-items: center;
     justify-content: center;

     position: relative;
     overflow: hidden;
 }

 .hero video {
     width: 100%;
     height: 100vh;
     object-fit: cover;
     position: absolute;
     top: 0;
     left: 0;
 }

 .overlay {
     width: 100%;
     height: 100vh;
     position: absolute;
     top: 0;
     left: 0;

     background: rgba(0, 0, 0, 0.5);

 }

 .content {
     position: relative;
     color: white;
 }

 .content h1 {
     font-size: 65px;
     margin-bottom: 20px;
 }

 .content p {
     font-size: 20px;
     line-height: 1.4;
     margin-bottom: 10px;
 }

 .buttons {
     display: flex;
     justify-content: center;
     gap: 40px;
 }

 
 button {
     padding: 15px 25px;
     border: none;
     border-radius: 50px;
     font-size: 15px;
     cursor: pointer;
     background: rgb(109, 7, 109);
     color: white;
 }
 
 .btn2 {
     background: transparent;
     border: 2px solid white;
 }

 .btn2:hover {
     background: rgb(109, 7, 109);
     border: none;
 }

/* ===== Brand Section ===== */

.brands {
    padding: 70px 80px;
    text-align: center;
}

.brands h2 {
    font-size: 40px;
    margin-bottom: 40px;
    color: #111827;
}

.brand-box {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.brand {
    width: 180px;
    height: 70px;
    background: #fff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    transition: .3s;
}

.brand:hover {
    background: #2563eb;
    color: #fff;
    transform: translateY(-8px);
}

.products {
    padding: 80px;
    background: #f8f9fa;
}

.products h2 {
    text-align: center;
    font-size: 40px;
    color: #111827;
    margin-bottom: 50px;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 270px;
    background: #fff;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .1);
    transition: .4s;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, .2);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card h3 {
    margin-top: 15px;
    font-size: 24px;
    color: #111827;
}

.card p {
    color: #666;
    padding: 8px 15px;
    font-size: 15px;
}

.card h4 {
    color: #2563eb;
    font-size: 26px;
    margin: 10px 0;
}

.card button {
    width: 85%;
    margin: 20px auto;
    padding: 12px;
    border: none;
    background: #2563eb;
    color: #fff;
    border-radius: 30px;
    font-size: 17px;
    cursor: pointer;
    transition: .3s;
}

.card button:hover {
    background: #111827;
}

/* ===========================
   OFFER SECTION
=========================== */

.offer {
    width: 100%;
    padding: 90px 20px;
    background: linear-gradient(135deg, #111827, #2563eb);
    text-align: center;
}

.offer-content h1 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
}

.offer-content p {
    color: #ddd;
    font-size: 20px;
    margin-bottom: 30px;
}

.offer-content button {
    padding: 15px 40px;
    border: none;
    border-radius: 40px;
    background: #fff;
    color: #2563eb;
        font-size: 18px;
        cursor: pointer;
        transition: .3s;
    }
    
    .offer-content button:hover {
        background: #2563eb;
        color: #fff;
        border: 2px solid #fff;
    }

    
        /* ===========================
       CUSTOMER REVIEWS
    =========================== */
    
        .reviews {
            padding: 80px;
            background: #f8f9fa;
        }
    
        .reviews h2 {
            text-align: center;
            font-size: 40px;
            margin-bottom: 50px;
        }
    
        .review-container {
            display: flex;
            justify-content: center;
            gap: 30px;
            flex-wrap: wrap;
        }
    
        .review {
            width: 320px;
            background: #fff;
            padding: 30px;
            border-radius: 15px;
            text-align: center;
            box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
            transition: .3s;
        }
    
        .review:hover {
            transform: translateY(-10px);
        }
    
        .review h3 {
            color: #f4b400;
            margin-bottom: 15px;
        }
    
        .review p {
            color: #555;
            margin-bottom: 15px;
            line-height: 25px;
        }
    
        .review h4 {
            color: #2563eb;
        }
    
                /* ===========================
           FOOTER
        =========================== */
        
                footer {
                    background: #111827;
                    color: #fff;
                    padding: 60px 80px 20px;
                }
        
                .footer-content {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    gap: 30px;
                }
        
                .footer-content h2,
                .footer-content h3 {
                    margin-bottom: 15px;
                }
        
                .footer-content p {
                    color: #ccc;
                    margin: 8px 0;
                }
        
                footer hr {
                    margin: 30px 0 20px;
                    border: 1px solid #333;
                }
        
                .copy {
                    text-align: center;
                    color: #bbb;
                }
    
        
                @media(max-width:992px) {
        
                    .header {
                        flex-direction: column;
                        height: auto;
                        padding: 5px;
                    }
        
                    nav ul {
                        justify-content: center;
                        margin: 20px 0;
                    }
        
                    .hero {
                        flex-direction: column;
                        text-align: center;
                    }
        
                    .hero-text,
                    .hero-image {
                        width: 100%;
                    }
        
                    .hero-text h1 {
                        font-size: 42px;
                        line-height: 55px;
                    }
        
                    .hero-image img {
                        width: 300px;
                        margin-top: 40px;
                    }
        
                    .newsletter input {
                        margin-bottom: 15px;
                    }
        
                    .footer-content {
                        flex-direction: column;
                        text-align: center;
                    }
        
                }
                @media(max-width:576px) {
                
                    .products,
                    .why,
                    .reviews,
                    .brands {
                        padding: 40px 20px;
                    }
                
                    .hero {
                        padding: 40px 20px;
                    }
                
                    .hero-text h1 {
                        font-size: 34px;
                    }
                
                    .card {
                        width: 100%;
                    }
                
                    .brand {
                        width: 100%;
                    }
                
                    .newsletter {
                        padding: 50px 20px;
                    }
                
                    .newsletter input,
                    .newsletter button {
                        width: 100%;
                        margin: 10px 0;
                    }
                
                }

        